
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;200;300;600;800&display=swap');
@import "tailwindcss";



body {
  overflow-x: hidden;
  font-family:'Comfortaa', sans-serif;
}

.ant-drawer {
  z-index: 1;
  margin-top: 85px !important;
  overflow: hidden !important;
}

.ant-drawer-body{
  margin: 0 30px;
  overflow: hidden !important;
  height: 100% !important;
}

.ant-card-body{
  padding: 0 !important;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .ant-card {
    width: 45% !important;
  }
  
}

@media (max-width: 900px) {
  form {
    display: none;
  }

}

@media (min-width: 900px) {

  .chercher{
    display: none;
  }

}

@media (min-width: 1024px) and (max-width: 1150px) {
  form{
    position: relative;
    top: 100px !important;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}

